<div style="height: 100%;width: 100%;">
        <div class="d-flex justify-content-between pt-2 ps-2 pe-2">
     <i class="bi bi-chevron-left" (click)="closePopup()" style="font-size: 25px; color: #1c1d1e"></i>
        <h5 style="color: #1a1a1a; font-weight: 400;margin-left: -25px;">Carton inventory</h5>
       <div></div>
      </div>

          <div class="inventory-form p-2 ">
         <!-- First Row -->
  <div class="grid-2">
    <div class="field-box">
      <select [(ngModel)]="selectedCategory"
          [disabled]="isStartButtonClicked || isMultiboxChecked"
        (change)="onCategorySelected()">
        <option value="" disabled selected>Category</option>
        <option *ngFor="let item of Category_list" [value]="item.CATEGORY_ID">
          {{ item.DESCRIPTION }}
        </option>
      </select>
        <span class="error" *ngIf="!isMultiboxChecked && categoryError"  >
      Category is required
    </span>

      
    </div>
    

    <div class="field-box">
      <select [(ngModel)]="selectedArtno"
        (change)="onArtnoSelected()"
            [disabled]="isStartButtonClicked ||isMultiboxChecked">
        <option value="" disabled selected>Art No</option>
        <option *ngFor="let item of ArtNo_list" [value]="item.DESCRIPTION">
          {{ item.DESCRIPTION }}
        </option>
       

      </select>
       <span *ngIf="!isMultiboxChecked && artnoError" style="color: red; font-size: 12px">
            Art No is required
          </span>
    </div>
  </div>

<!-- Second Row -->
  <div class="grid-2">
    <div class="field-box">
      <select [(ngModel)]="selectdColor"     [disabled]="isStartButtonClicked || isMultiboxChecked"
 (change)="onColorSelected()">
        <option value="" disabled selected>Color</option>
        <option *ngFor="let item of Color_list" [value]="item.DESCRIPTION">
          {{ item.DESCRIPTION }}
        </option>
        

      </select>
       <span *ngIf=" !isMultiboxChecked && colorError" style="color: red; font-size: 12px">
            Color is required
          </span>
    </div>

    <div style="padding: 10px;">
      
<label>
  <input type="checkbox"  [disabled]="isStartButtonClicked"[(ngModel)]="isMultiboxChecked" />
  Multibox only
</label>
    </div>
  </div>




  <div > <button (click)="Load_Barcode_list()" class="Start-button" [disabled]="isStartButtonClicked">Start</button></div>
  <!-- Spinner -->
<div *ngIf="isLoading" class="text-center mt-3">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<input
  #barcodeField
  type="text"
  [(ngModel)]="scannedBarcode"
  [disabled]="!isStartButtonClicked || saveData.IsCompleted"
  placeholder="Scan your barcode"
  (keyup.enter)="processScannedBarcode()"
  autocomplete="off"
 style="height: 37px;
    width: 100%;
    margin-top: 9px;
    background: #ffff;border-radius: 8px;"

/>

<div class="table-wrapper">
  <table class="styled-table">
    <thead>
      <tr>
        <th style="background-color: transparent;">SL</th>
        <th style="background-color: transparent;">Barcode</th>
        <th style="background-color: transparent;">Scanned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Carton_barcodelist; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Barcode }}</td>

        <td>
          <span *ngIf="item.FLAG === 'VERIFIED'"><i class="bi bi-flag-fill flag-green" title="Verified"></i></span>
          <span *ngIf="item.FLAG === 'UNVERIFIED'"><i class="bi bi-flag-fill flag-red" title="Unverified"></i></span>
        
        </td>
      </tr>

       <tr *ngIf="Carton_barcodelist.length === 0" class="dummy-row" >
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngIf="Carton_barcodelist.length === 0" class="dummy-row">
    <td></td>
    <td></td>
    <td></td>
  </tr>
        <tr *ngIf="Carton_barcodelist.length === 0" class="dummy-row" >
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr *ngIf="Carton_barcodelist.length === 0" class="dummy-row">
    <td></td>
    <td></td>
    <td></td>
  </tr>
        <tr *ngIf="Carton_barcodelist.length === 0" class="dummy-row" >
    <td></td>
    <td></td>
    <td></td>
  </tr>


    </tbody>
  </table>
</div>

        <div class="d-flex mt-2" style="justify-content: center;">
         <div class="d-flex"  style="font-size: 16px; font-weight: 500;"> <label style="color: #7C7C7C;">Items:</label> <p style="font-weight: 600; font-size: 16px;">{{totalItems}}</p></div>
           <div
        style="border-left: 2px solid #cccccc;
    height: 14px;
    margin: 6px 10px;"
      ></div>
        <div class="d-flex"  style="font-size: 16px; font-weight: 500;">
            <label  style="color: #34C759;">Scanned:</label>
          <p style="font-weight: 600; font-size: 16px;">{{scannedCount}}</p>
          
        </div>
         <div
        style="border-left: 2px solid #cccccc;
    height: 14px;
    margin: 6px 10px;"
      ></div>

           <div class="d-flex"  style="font-size: 16px; font-weight: 500;"> <label style="color: #c22929;">Pending:</label>
          <p style="font-weight: 600; font-size: 16px;">{{variance}}</p></div>
        </div>
     
<label style="padding: 10px 5px;">
  <input type="checkbox"  [(ngModel)]="saveData.IsCompleted"  [disabled]="!isStartButtonClicked"   (change)="convertCheckbox()" />
 Completed
</label>

   <input type="text" class="line-input" style="width: 100%;" [(ngModel)]="saveData.Reason"
      (input)="OnchangeReason()"  placeholder="Inventory Reason">
     <span *ngIf="ReasonError" style="color: red; font-size: 12px">
            Inventory reason is required
          </span>
       
         
      

        <div class="btn-group">
          <button class=" reset-button"  [disabled]="saveData.IsCompleted"  (click)="Reset_form()">Reset</button>
            <button class="save-btn"  (click)="saveRecord()">Save</button>
          <button class="commit-btn"  [disabled]="!saveData.IsCompleted" (click)="commitCartonInventory()">
            <i class="bi bi-check2-circle me-2"></i>Commit
          </button>
          <!-- <button class="btn close" (click)="closePopup()">Close</button> -->
        </div>


</div>
</div>



<!-- ========================= Save with limited varience ========================== -->
<div class="popup" *ngIf="Is_Pending_High" >  <div class="popup-header">
    
  </div>

  <div class="popup-body">
    <p>Unscanned Article exists. do you want to complete?</p>
     <button class="delete-btn" (click)="Save_with_pending_Article()" style="background: #30B3DB;height: 41px;width: 175px;border: none;border-radius: 32px;color: #ffff;">Save</button> <br>
    <button class="cancel-btn mt-1" (click)="Not_save_pending_article()" style="height: 41px;width: 175px;
    border: 1px solid #CCCCCC;
    background: transparent;
    border-radius: 32px;
    color: #7C7C7C;">Cancel</button>
  </div>


</div>