<div class="cart-wrapper">
  

  <div class="cart-header-bar">
  <i class="fa-solid fa-angle-left back-icon" (click)="goBack()"></i>
  <span class="cart-title">Cart</span>
</div>
<div class="cart-item-container">

  <div class="empty-cart" *ngIf="!cartItems.length">

  <i class="fa-solid fa-cart-shopping empty-icon"></i>

  <div class="empty-title">Your cart is empty</div>

  <div class="empty-sub">
    Looks like you haven’t added anything yet
  </div>

</div>

  <div
  class="cart-item-wrapper"
  *ngFor="let item of cartItems; let i = index"
>

  <!-- ================= CARD CONTENT ================= -->
  <div class="cart-item">

    <!-- LEFT -->
    <div class="cart-left">
      <div class="art">{{ item.artNo }}</div>
      <div class="category">{{ item.categoryName }}</div>

      <div class="color">
        {{ item.color }}
        <span
          class="color-dot"
          [style.background]="getColorHex(item.color)">
        </span>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="cart-right" [ngClass]="getLayoutClass(item)">

      <!-- SET -->
      <div class="cart-col" *ngIf="item.setSizes?.length">
        <div class="size-header">
          <span class="qty-badge top">{{ getSetTotal(item) }}</span>

          <span class="size-title">Set</span>
          <span class="qty-text">Qty</span>
        </div>

        <div class="size-row" *ngFor="let s of item.setSizes">
          <span>{{ s.size }}</span>
          <span>{{ s.qty }}</span>
        </div>
      </div>

      <div class="divider" *ngIf="item.setSizes?.length"></div>

      <!-- SEMI -->
      <div
        class="cart-col"
        *ngIf="userType !== 4 && item.semiSizes?.length"
      >
        <div class="size-header">
          <span class="qty-badge top">{{ getSemiTotal(item) }}</span>

          <span class="size-title">Set</span>
          <span class="qty-text">Qty</span>
        </div>

        <div class="size-row" *ngFor="let s of item.semiSizes">
          <span>{{ s.size }}</span>
          <span>{{ s.qty }}</span>
        </div>
      </div>

      <div
        class="divider"
        *ngIf="userType !== 4 && item.semiSizes?.length"
      ></div>

      <!-- CASE -->
      <div class="cart-col" *ngIf="item.caseSizes?.length">
        <div class="size-header">
          <span class="qty-badge top">{{ getCaseTotal(item) }}</span>

          <span class="size-title">Set</span>
          <span class="qty-text">Qty</span>
        </div>

        <div class="size-row" *ngFor="let s of item.caseSizes">
          <span>{{ s.size }}</span>
          <span>{{ s.qty }}</span>
        </div>
      </div>

    </div>
  </div>

  <!-- ================= BOTTOM ACTION BAR ================= -->
  <div class="cart-bottom-actions">

    <button
      class="action remove"
      (click)="removeItem(i)"
    >
      <i class="fa-solid fa-trash"></i>
      Remove
    </button>

    <button
      class="action edit"
      (click)="editItem(i)"
    >
      <i class="fa-solid fa-pen"></i>
      Edit
    </button>

  </div>

</div>


</div>



  <div class="submit-bar" *ngIf="cartItems.length">
    <button class="submit-btn" (click)="openSubmitConfirm()" [disabled]="isSaving">SUBMIT</button>
  </div>


  <!-- Submit Order Popup -->
<div class="logout-overlay" *ngIf="showSubmitConfirm">
  <div class="logout-dialog">

    <p>
      Confirm order submission?
    </p>

    <div class="logout-actions">
      <button class="no-btn" (click)="cancelSubmit()">
        No
      </button>

      <button class="sub-btn" (click)="confirmSubmit()">
        Yes
      </button>
    </div>

  </div>
</div>



  <!-- Remove Cart Item Popup -->
<div class="logout-overlay" *ngIf="showRemoveConfirm">
  <div class="logout-dialog">

    <p>
      Remove this item from cart?
    </p>

    <div class="logout-actions">
      <button class="no-btn" (click)="cancelRemove()">
        No
      </button>

      <button class="yes-btn" (click)="confirmRemove()">
        Yes
      </button>
    </div>

  </div>
</div>

<div class="loader-overlay" *ngIf="isSaving">
  <i class="fa-solid fa-spinner fa-spin"></i>
</div>


</div>


<div
  class="linkedin-snack"
  *ngIf="showSnack"
  [class.success]="snackType === 'success'"
  [class.error]="snackType === 'error'"
>
  <span class="snack-text">{{ snackMessage }}</span>
</div>
