/* Background overlay for popup */

*{
   font-family: "Instrument Sans", sans-serif;
}
/* Horizontal row: label on left, input on right */
.form-row-horizontal {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 8px;
}

/* Label styling */
.form-row-horizontal label {
  width: 35%;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

/* Input/select container */
.field-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
}

/* Select/input styling */
.field-wrapper select,
.field-wrapper input {
 width: 100%;
    padding: 4px 2px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    /* background: #fafafa; */
    font-size: 14px;
}

/* Error message styling */
.field-wrapper .error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

/* card container */
.record-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 18px 20px;
  border-radius: 14px;
  margin-bottom: 18px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.08);
}

/* Left part */
.left-section .doc-no {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.left-section .sub-info {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.sub-info .dot {
  margin: 0 6px;
  color: #0094ff;
  font-size: 22px;
  line-height: 0;
}

/* Right part */
.right-section {
  text-align: right;
}

.edit-btn {
  background: #dff7ff;
  padding: 6px 16px;
  border: none;
  border-radius: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 5px;
  color: #008ccc;
}

.edit-btn:hover {
  background: #c2efff;
}

/* status colors */
.status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;               /* FIXED HEIGHT */
  min-width: 90px;            /* FIXED WIDTH (same size for all) */
  padding: 0 12px;            /* Horizontal spacing */
  border-radius: 20px;        /* Rounded badge */
  font-size: 13px;
  font-weight: 600;
  text-transform: lowercase;
  text-align: center;
}

/* OPEN */
.pending {
  background-color: #FFD7AF;
  color: #FF8308;
   font-size: 10px;
   font-weight: 400;
}

/* COMMITTED */
.success {
  background-color: #C3FFD2;
  color: #00A329;
  font-size: 10px;
   font-weight: 400;
}
.completed {
  background-color: #BFE7F4;
  color: #30B3DB;
  font-size: 10px;
   font-weight: 400;
}


.body {
  font-family: "Instrument Sans", sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup container */
.popup-content {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  width: 100%;
  margin-top: 20%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* Header */
.popup-content h3 {
  margin-bottom: 18px;
  font-size: 20px;
  color: #333;
//   border-bottom: 2px solid #2b7bff;
  padding-bottom: 5px;
}


.Start-button{
  width: 100%;
    border: none;
    border-radius: 32px;
    background: #30B3DB;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 38px;
}
/* Labels & Inputs */
label {
  font-weight: 500;
  color: #444;
  min-width: 80px;
  display: inline-block;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 8px;
  width: 120px;
  font-size: 14px;
  transition: all 0.2s ease;
}

input[type="text"]:focus {
  border-color: #2b7bff;
  box-shadow: 0 0 4px rgba(43, 123, 255, 0.4);
  outline: none;
}

.full-width {
 
}

/* Form row */
.form-row {
width: 100%;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

th {
  background-color: #2b7bff;
  color: #fff;
  padding: 8px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

td {
  border: 1px solid #ffff;
  text-align: center;
  padding: 6px;
  font-size: 13px;
}

tr {
 background-color: #FAFAFA;
}

/* Buttons */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn.save {
  background-color: #2b7bff;
  color: white;
}

.btn.commit {
  background-color: #23e283;
  color: #fff;
}

.btn.close {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

//=============pending table=============
/* Outer table card */

/* Table layout */


/* Header */
.styled-table thead tr {
  background: #e3f3ff;
}

.styled-table th {
  text-align: left;
  // padding: 10px 12px;
  color: #333;
  font-weight: 600;
  font-size: 13px;
}

/* Rows */
.styled-table td {
  padding: 12px;
  border-bottom: 1px solid #ffff;
  color: #555;
}

/* Remove border on last row */
.styled-table tbody tr:last-child td {
  border-bottom: none;
}

/* Flags (small rounded squares) */
.flag {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 4px;
}

/* Colors like your screenshot */
.flag-green {
  color: #4caf50;
}

.flag-red {
  color: #f44336;
}

.flag-yellow {
  background: #fbc02d;
}


// =========Add button=========================
.fab-btn {
  position: fixed;
  bottom: 20px;      /* distance from bottom */
  right: 20px;       /* distance from right */
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #30B3DB; /* blue */
  color: white;
  font-size: 32px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

// .fab-btn:hover {
//   background-color: #0056b3;
//   transform: scale(1.1);
// }


//====================items and scanned count=============
.floating-group {
  position: relative;
  margin-bottom: 25px;
  width: 45%;     /* adjust as needed */
}

.floating-group input {
  width: 100%;
  padding: 10px 8px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 6px;
  background: white;
}

.floating-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #666;
  font-size: 16px;
  transition: 0.2s ease;
  pointer-events: none;
  background: white;
  padding: 0 4px;
}

.floating-group input:focus + label,
.floating-group input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #333;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.Action-popup-content{
background: #ffffff;
    padding: 5px 30px;
    border-radius: 12px;
    width: 520px;
    margin-top: 400px;
    height: 200px;
}

.closebutton{
  margin-left: 95%;
  border: none;
  background: transparent;
  font-size: 24px;
}
.doc-no{
  font-size: 14px;
    font-weight: 700;
    color: #1c1c1c;
}
.sub-info{
  font-size: 12px;
    letter-spacing: -1%;
    font-weight: 500;
    color: #7C7C7C;
}

//================barcode table=============
/* Add vertical separators */
.styled-table th,
.styled-table td {
  border-right: 2px solid #FFFFFF;  /* light gray separator */
}
.styled-table thead tr {
  border-bottom: 2px solid #FFFFFF;   /* separator between header & rows */
}


.table-wrapper {
  max-height: 280px;          /* set height */
  overflow-y: auto;           /* scroll only body */
  border-radius: 10px;
  position: relative;
}

/* FIX the table header */
.styled-table thead th {
  position: sticky;
  top: 0;                     /* stick to top inside wrapper */
  background: #eaf7ff;        /* must give background */
  z-index: 10;                /* keep above rows */
  padding: 12px;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay.show {
  display: flex; /* stays in DOM */
}

.popup-body {
  background: white;
  height: 30%;
  padding: 30px;
  width: 70%;
  border-radius: 10px;
}

.reset-button{
  height: 41px;
    width: 101px;
    border-radius: 32px;
    background-color: #CACDCF;
    border: none;
    color: #5B5D5F;
    font-size: 14px;
}
.save-btn{
height: 41px;
width: 101px;
    background: transparent;
    border: 1px solid #30B3DB;
    border-radius: 32px;
    color: #30B3DB;
     font-size: 14px;
  }
  .commit-btn{
height: 41px;
width: 151px;
    background: #30B3DB;
    border: none;
    color: #FFFFFF;
     font-size: 14px;
    border-radius: 32px;
  }
  

  

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 12px;
}

.field-box {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 6px 10px;
}

.field-box select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.barcode-input{
border: 1px solid #CCCCCC;
}
