<div class="home-wrapper">
  <!-- Header -->
  <div class="home-header">
  <i class="fa-solid fa-angle-left back-icon" (click)="goBack()"></i>
  <h2 class="header-title">
    {{ saveData.ID > 0 ? 'Update Retailer' : 'New Retailer' }}
  </h2>
</div>
  <!-- <p style="text-align: center">Please create a new retailer</p> -->

  <!-- Form -->
  <div class="form-container">

    <div class="input-Number">

  <input
    #phoneInput
    type="tel"
    inputmode="numeric"
    pattern="[1-9][0-9]*"
    class="form-input"
    placeholder="Mobile No"
    maxlength="15"
    (input)="onMobileInput($event)"
    (blur)="onMobileBlur()"
  />
  <i class="fa-solid fa-arrow-down fetch-icon" 
  (click)="!invalid_number && !mobile_error && fetchRetailerData()"></i>
    </div>

    <span *ngIf="mobile_error" class="error-text">
      Mobile No is required
    </span>

    <span *ngIf="!mobile_error && invalid_number" class="error-text">
      Invalid Mobile No
    </span>

    <div class="floating-input">

    <input
      class="form-input"
      placeholder=" "
      [(ngModel)]="saveData.RETAILER_NAME"
      (ngModelChange)="Retailer_name = false"
      (keypress)="allowOnlyLetters($event)"
      (input)="sanitizeRetailerName()"
      [disabled]="!formUnlocked"
    />
     <label>Retailer Name</label>
    </div>
    <span *ngIf="Retailer_name" style="color: red; font-size: 12px">
      Retailer name is required
    </span>

    <div class="dropdown-wrapper dropdown-box" (click)="$event.stopPropagation()">
    <div class="floating-input">
    <input
    #dealerInput
    type="text"
    class="form-input"
    placeholder=""
    [(ngModel)]="dealerSearchText"
    [value]="dealerDisplayText"
    (input)="filterDealers()"
    (focus)="openDealerDropdown()"
    [disabled]="!formUnlocked"
  />
  <label>Dealer</label>
  </div>

  <span *ngIf="dealererror" style="color: red; font-size: 12px">
    dealer is required
  </span>

  <div class="dropdown-list" *ngIf="showDealerList">
    <div
      class="dropdown-item"
      *ngFor="let d of filteredDealers"
    >
      <label style="display:flex; gap:8px; cursor:pointer;">
        <input
          type="checkbox"
          [checked]="isDealerSelected(d)"
          (change)="toggleDealer(d)"
        />
        {{ d.DESCRIPTION }}
      </label>
    </div>
  </div>
</div>
<div class="floating-input">
    <input
      class="form-input"
      [(ngModel)]="saveData.ADDRESS"
      placeholder=""
      (ngModelChange)="addresserror = false"
      [disabled]="!formUnlocked"
    />

    <label>Address</label>

    </div>
    <span *ngIf="addresserror" style="color: red; font-size: 12px">
      Address is required
    </span>

    <div class="row-flex">
      <div class="dropdown-wrapper dropdown-box" (click)="$event.stopPropagation()">
        <div class="floating-input">
        <input
          #stateinput
          type="text"
          class="form-input half"
          placeholder=""
          [(ngModel)]="selected_State"
          (input)="filterState()"
        (focus)="openStateDrp()"
        [disabled]="!formUnlocked"
        />

        <label>State</label>

        </div>

        <div class="dropdown-list" *ngIf="showStateDrp">
          <div
            class="dropdown-item"
            *ngFor="let state of filteredStatelist"
            (click)="selectState(state)"
          >
            {{ state.DESCRIPTION }}
          </div>
        </div>
      </div>
      <span *ngIf="state_error" class="error-text">
        State required
      </span>
      <div class="dropdown-wrapper dropdown-box" (click)="$event.stopPropagation()">
        <div class="floating-input">
        <input
          #Districtinput
          type="text"
          class="form-input half"
          placeholder=""
          [(ngModel)]="selected_District"
          (input)="filterDistrict()"
           (focus)="openDistrictDrp()"
           [disabled]="!formUnlocked"
        />

        <label>District</label>

        </div>

        <div class="dropdown-list" *ngIf="showDistrictDrp">
          <div
            class="dropdown-item"
            *ngFor="let district of filteredDistrictlist"
            (click)="selectDistrict(district)"
          >
            {{ district.DISTRICT }}
          </div>
        </div>
      </div>

      <span *ngIf="district_Error" class="error-text">
        District required
      </span>

    </div>

    <div class="input-Number">
    <input
      #whatsappInput
      type="tel"
      class="form-input"
      placeholder="WhatsApp Number"
    />
  </div>

  <!-- Alternate Mobile -->
  <div class="input-Number">
    <input
      #altMobileInput
      type="tel"
      class="form-input"
      placeholder="Alternate Mobile Number"
    />
  </div>


    <!-- Email -->
    <div class="input-Number">
      <i class="fa fa-envelope icon"></i>

      <div class="floating-input">

      <input
        class="form-input"
        placeholder=""
        type="email"
        [(ngModel)]="saveData.EMAIL"
        (input)="validateEmail()"
        [disabled]="!formUnlocked"
      />

      <label>Email</label>

      </div>

      <span *ngIf="invalid_email" class="error-text">
        Invalid Email
      </span>
    </div>

    <!-- <div class="input-Number">
      <i class="fa fa-user icon" aria-hidden="true"></i>
      <div class="floating-input">
      <input
        class="form-input"
        placeholder=""
        [(ngModel)]="saveData.LOGIN_NAME"
        (ngModelChange)="loginname = false"
        [disabled]="!formUnlocked"
        [readonly]="isExistingRetailer"
      />

      <label>User Name</label>
    </div>

    

    </div> -->

    <!-- <span *ngIf="loginname" style="color: red; font-size: 12px">
      User name is required
    </span> -->
    <div class="input-group">
      <!-- <div class="input-Number">
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        <div class="floating-input">
        <input
          class="form-input"
          [type]="showPassword ? 'text' : 'password'"
          placeholder=""
          [(ngModel)]="saveData.PASSWORD"
          (ngModelChange)="password_error = false"
          [disabled]="!formUnlocked"
          [readonly]="isExistingRetailer"
        />

        <label>Password</label>
        </div> -->
        <!-- <span *ngIf="password_error" style="color: red; font-size: 12px">
        Password name is required
      </span> -->
        <!-- <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="showPassword = !showPassword"
        ></i> -->
        
      <!-- </div>

      <div class="input-Number mt-3" *ngIf="!isExistingRetailer">
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        <div class="floating-input">
        <input
          class="form-input"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder=""
          [(ngModel)]="confirmPassword"
          [disabled]="!formUnlocked"
          
        />
        <label>Confirm Password</label>
        </div>

        <i
          *ngIf="!saveData.ID || saveData.ID == 0"
          class="fa-solid"
          [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></i>
      </div> -->

      <!-- Error Message -->
      <!-- <div
        class="error"
        *ngIf="confirmPassword && saveData.PASSWORD !== confirmPassword"
      >
        Passwords do not match
      </div> -->
       <div class="input-Number">

      <button class="save-btn" (click)="saveRetailer()">
        {{ saveData.ID > 0 ? 'UPDATE RETAILER' : 'SAVE RETAILER' }}
      </button>
       </div>
        <!-- <button class="add-cart-btn" (click)="saveRetailer()">
          SAVE RETAILER
        </button>
      </div> -->
    </div>
  </div>
</div>


<!-- PREMIUM PREVIEW -->
<div class="preview-overlay" *ngIf="showPreview">

  <div class="preview-container">

    <div class="preview-header">
      <h2>Confirm Retailer Details</h2>
      <p>Please verify before saving</p>
    </div>

    <div class="preview-body">

  <div class="preview-item">
    <label>Retailer</label>
    <div>{{previewData.RETAILER_NAME}}</div>
  </div>

  <div class="preview-item">
    <label>Address</label>
    <div>{{previewData.ADDRESS}}</div>
  </div>

  <div class="preview-item">
    <label>State</label>
    <div>{{previewData.STATE}}</div>
  </div>

  <div class="preview-item">
    <label>District</label>
    <div>{{previewData.DISTRICT}}</div>
  </div>

  <div class="preview-item">
    <label>Mobile</label>
    <div>{{previewData.MOBILE}}</div>
  </div>

  <!-- WHATSAPP -->
  <div class="preview-item" *ngIf="previewData.WHATSAPP">
    <label>WhatsApp</label>
    <div>{{previewData.WHATSAPP}}</div>
  </div>

  <!-- ALT MOBILE -->
  <div class="preview-item" *ngIf="previewData.ALT_MOBILE">
    <label>Alternate Mobile</label>
    <div>{{previewData.ALT_MOBILE}}</div>
  </div>

  <!-- EMAIL -->
  <div class="preview-item" *ngIf="previewData.EMAIL">
    <label>Email</label>
    <div>{{previewData.EMAIL}}</div>
  </div>


  <div class="preview-item">
    <label>Dealers</label>
    <div class="dealer-wrap">
      {{previewData.DEALERS_TEXT}}
    </div>
  </div>

</div>

    <div class="preview-footer">

      <button class="edit-btn" (click)="showPreview=false">
        Edit Details
      </button>

      <button
      class="confirm-btn"
      (click)="confirmSave()"
      [disabled]="isSaving"
    >
      <span *ngIf="!isSaving">Confirm & Save</span>

      <span *ngIf="isSaving" class="btn-loader">
        <i class="fa fa-spinner fa-spin"></i>
        Saving...
      </span>
    </button>

    </div>

  </div>

</div>
