/* Global layout */
body {
  // font-family: "Instrument Sans"; 
    font-family: "Instrument Sans", sans-serif;

  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
//   padding: 20px;
margin: 10%;
  
}

/* Login card */
.login-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Headings */
.login-container h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 600;
}

.login-container p {
  color: #555;
  margin-bottom: 25px;
  font-size: 15px;
}

/* Inputs */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

/* Password visibility icon */
.password-field {
  position: relative;
}

.password-field .toggle-password {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

/* Forgot password */
.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  font-size: 13px;
  color: #00a3d7;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #66DBFF, #30B3DB);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #008bb8;
}

/* RESPONSIVE DESIGN */

/* Tablets */
@media (max-width: 992px) {
  .login-container {
    max-width: 350px;
    padding: 35px 25px;
  }
  .login-container h2 {
    font-size: 20px;
  }
  .login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
//   padding: 20px;
margin: 10%;
  
}
}

/* Phones */
@media (max-width: 576px) {
  .login-container {
    max-width: 100%;
    // padding: 30px 20px;
  }
  .login-container h2 {
    font-size: 18px;
  }
  .login-container p {
    font-size: 14px;
  }
  form input {
    // padding: 10px;
    font-size: 13px;
  }
  .login-btn {
    // padding: 10px;
    font-size: 14px;
  }
  .login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
//   padding: 20px;
margin:0;

  
}
.login-container {
  background-color: #fff;
  width: 100%;
//   max-width: 400px;
//   padding: 40px 30px;
  border-radius: 12px;
  box-shadow: none;
  text-align: center;
}
}
.login-container img {
  width: 150px;
  display: block;
  margin: 0 auto 10px auto;
}
