* {
  font-family: "Instrument Sans", sans-serif;
}

.home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  padding-bottom:50px;
}

/* HEADER */

.home-header {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 60px;
}

.header-title {
  flex: 1;
  text-align: center;
}

.retailer {
  font-weight: 600;
}

.dealer {
  font-size: 12px;
  color: #888;
}

.notification {
  color: red;
}

/* BODY */

.home-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 0 10px;
}

.primary-btn {
  background: #35b5de;
  color: white;
  padding: 16px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.secondary-btn {
  background: #cceefa;
  color: #333;
  padding: 16px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* LOGOUT */

.logout-btn {
  background: #e32119;
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* MOBILE OPTIMIZATION */

@media (min-width: 768px) {
  .home-wrapper {
    max-width: 420px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
  }
}


.cart-wrapper {
  position: relative;
}

.cart-icon {
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  background: red;
  color: white;
  font-size: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.floating-logo-home {
  position: fixed;
  width: 60px;
  left: 25px;
  top: 20px;
  z-index: 999;
  transition: all .7s cubic-bezier(.4,0,.2,1);
}

/* Destination = Login center */
.fly-to-login {
  width: 140px;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
}

.logout-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.logout-dialog {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.logout-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.no-btn, .yes-btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.no-btn {
  margin-right: 10px;
  background: #eee;
}

.yes-btn {
  background: #d32f2f;
  color: white;
}

/* ================= SELECT TYPE ================= */

.select-type-wrapper {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
}

.radio-item input {
  accent-color: #35b5de;
}

/* ================= DROPDOWN ================= */

.dropdown-wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: 1px;
}

.dropdown-wrapper select {
  width: 100%;
  max-width: 100%;
  height: 44px;

  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;

  background: #fff;
  font-size: 14px;

  outline: none;
}


.dropdown-wrapper select:focus {
  outline: none;
  border-color: #35b5de;
  box-shadow: 0 0 0 3px rgba(53, 181, 222, 0.15);
}

.dropdown-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-input {
  width: 100%;
  height: 44px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-input:focus {
  border-color: #35b5de;
  outline: none;
  box-shadow: 0 0 0 3px rgba(53,181,222,.15);
}

.dropdown-list {
  max-height: 220px;
  overflow-y: auto;
  background: #e9f8ff;
  border-radius: 10px;
  margin-top: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,.15);
}

.dropdown-item {
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #cceefa;
}

.dropdown-empty {
  padding: 10px;
  text-align: center;
  font-size: 13px;
  color: #777;
}





